    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>METU</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body class="override">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">METU</a>
                </div>

                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li><h5 style="color:white; position:middle;">Hoşgeldiniz, {{user.ilkad}} {{user.soyad}}&nbsp</h5></li>
                        <li><form class="site-form" action="{% url 'users:logout' %}" method="post">
                          {% csrf_token %}
                          <button type="submit" name="button">Çıkış Yap</button>
                        </form></li>
                        {% else %}
                          <li><a href="{%url 'users:signup'%}">Kayıt Ol</a></li>
                          <li><a href="{%url 'users:login'%}">Giriş Yap</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
    <footer style="bottom: 0;">
        <div class="container">
            <div class="row well ml-t">
                <div class="col-lg-8 col-md-8">
                    <h5>Developed by: Mustafa Gilli</h5>
                    <h6>Middle East Technical University</h6>
                    <h6>Computer Engineering #2</h6>
                    <h6>2019 &copy</h6>
                </div>
            </div>
        </div>
    </footer>
    </html>
